
@charset "UTF-8";

@font-face {
  font-family: 'Cera Pro';
  font-weight: 500;
  src: url("../../fonts/CeraProDEMO-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 700;
  src: url("../../fonts/CeraProDEMO-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 900;
  src: url("../../fonts/CeraProDEMO-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Cera Pro Round';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/CeraRoundProDEMO-Regular.ttf") format("truetype");
}

html {
  font-size: 100%;
}

body {
  font-family: "Cera Pro", sans-serif;
  color: #013183;
}

.header {
  width: 100%;
  background: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 50px 0;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header .logo {
  width: 130px;
  margin-right: 135px;
}

.header .col-9 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header__links {
  width: 100%;
}

.header__links__link {
  color: #013183;
  font-style: normal;
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__links__link:hover {
  color: #013183;
  text-decoration: none;
  text-shadow: -2px 2px 0px rgba(2, 49, 130, 0.2);
  -webkit-transform: translate(1px, -1px);
  transform: translate(1px, -1px);
}

.header__links .hidden {
  opacity: 0;
}

.header__links__button {
  height: 48px;
  -webkit-box-shadow: 0px 4px 16px rgba(59, 120, 201, 0.3);
  box-shadow: 0px 4px 16px rgba(59, 120, 201, 0.3);
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__links__button:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
  box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
}

.header .sign-in {
  width: 88px;
  color: #013183;
  background: #FFFFFF;
  margin: 0 16px 0 0;
}

.header .sign-up {
  width: 96px;
  color: #FFFFFF;
  background: #013183;
  border: 1px solid #013183;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header .navbar-collapse {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header nav {
  padding: 0;
}

.header .navbar-toggler {
  border: none;
}

.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2, 49, 130, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 600px) {
  .header {
    top: 0;
  }
}

@media (max-width: 768px) {
  .header a {
    font-size: 1rem !important;
    line-height: 2rem !important;
  }
}

main {
  padding-top: 130px;
}

@media (max-width: 600px) {
  main {
    padding-top: 70px;
  }
}

footer {
  background: #013183;
  padding: 25px 0;
  color: #FFFFFF;
}

footer p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
}

footer .link {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .link:hover {
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: -2px 2px 0px rgba(2, 49, 130, 0.2);
  -webkit-transform: translate(1px, -1px);
  transform: translate(1px, -1px);
}

footer .union {
  height: 70%;
  margin-right: 10px;
}

footer .icon {
  display: block;
}

footer .icon img {
  width: 20px;
  height: 20px;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 1.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 4px;
}

h2 {
  margin: 40px 0;
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 1.9rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.6rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.2px;
}

h6 {
  margin: 35px auto;
  max-width: 818px;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.1px;
  color: #829AC2;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1px;
}

.listdash {
  width: 44px;
  height: 0;
  border-bottom: 1px solid #FF5734;
  margin-right: 18px;
}

.button {
  width: 278px;
  height: 56px;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  background: #FF5734;
  color: #FFFFFF;
  -webkit-box-shadow: 1px 4px 8px rgba(255, 87, 52, 0.35);
  box-shadow: 1px 4px 8px rgba(255, 87, 52, 0.35);
  border-radius: 12px;
  font-size: 1rem;
  line-height: 0.9rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 0.9rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button:hover {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
  box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
}

#wrapper .cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 20;
}

#wrapper .__modal {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
}

#wrapper .__modal .window {
  height: 100%;
}

#wrapper .__modal .content {
  display: none;
  width: 600px;
  height: 360px;
  max-width: 600px;
  max-height: 360px;
  background: url("../../img/modal.png");
  background-size: cover;
  background-blend-mode: overlay;
  -webkit-box-shadow: 0px 5px 12px rgba(1, 49, 131, 0.1);
  box-shadow: 0px 5px 12px rgba(1, 49, 131, 0.1);
  border-radius: 8px;
  z-index: 40;
}

#wrapper .__modal .content .white-cover {
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

#wrapper .__modal .content .title {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 9.5px;
  text-transform: uppercase;
  color: #013183;
}

#wrapper .__modal .content .text {
  padding: 2% 5% 5%;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.2px;
  color: #829AC2;
}

#wrapper .__modal .content input[type="email"] {
  padding-left: 26px;
  padding-right: 80px;
  max-width: 500px;
  width: 500px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 26px;
  border: none;
}

#wrapper .__modal .content input[type="email"]::-webkit-input-placeholder {
  color: #013183;
  opacity: 1;
}

#wrapper .__modal .content input[type="email"]::-moz-placeholder {
  color: #013183;
  opacity: 1;
}

#wrapper .__modal .content input[type="email"]:-ms-input-placeholder {
  color: #013183;
  opacity: 1;
}

#wrapper .__modal .content input[type="email"]::-ms-input-placeholder {
  color: #013183;
  opacity: 1;
}

#wrapper .__modal .content input[type="email"]::placeholder {
  color: #013183;
  opacity: 1;
}

#wrapper .__modal .content .input-button {
  width: 86px;
  height: 50px;
  margin-left: -80px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 4px 8px rgba(255, 87, 52, 0.35);
  box-shadow: 1px 4px 8px rgba(255, 87, 52, 0.35);
  border-radius: 26px;
}

#wrapper .__modal .content .input-button input[type="submit"] {
  width: 100%;
  height: 100%;
  border: none;
  background: url("../../img/arrow.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome {
  padding: 50px 0;
}

.welcome .title {
  font-size: 2.7rem;
  line-height: 2.5rem;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.welcome .title span {
  width: 100%;
  color: #FF5734;
}

.welcome .title:hover {
  text-shadow: -3px 3px 0px rgba(2, 49, 130, 0.2);
  -webkit-transform: translate(2px, -2px);
  transform: translate(2px, -2px);
}

.welcome__entry {
  margin: 25px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #829AC2;
}

.welcome__list {
  margin: 35px 0 35px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.welcome__list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome__list__element p {
  font-weight: bold;
  margin: 8px 0;
}

.welcome__gift {
  margin-bottom: 10px;
  /*align-items: center;*/
}

.welcome__gift p {
  margin: 0;
  font-weight: bold;
  font-size: 0.9rem;
}

.welcome__gift img {
  margin-right: 20px;
  width: 26px;
  height: 26px;
}

.welcome__image {
  -webkit-box-shadow: 0px 22px 93px -45px rgba(1, 49, 131, 0.3);
  box-shadow: 0px 22px 93px -45px rgba(1, 49, 131, 0.3);
  width: 100%;
}

@media (min-width: 1200px) {
  .welcome .welcome__image {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@media (max-width: 600px) {
  .listdash {
    width: 25px;
    margin-right: 4px;
  }

  .welcome__list {
    margin: 35px 0;
  }
}

.sense {
  background-image: url("../img/sense_bg.png");
  background-position: left;
}

.sense__block {
  margin: 15px 0;
  max-width: 100%;
  height: 480px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 12px rgba(1, 49, 131, 0.1);
  box-shadow: 0px 5px 12px rgba(1, 49, 131, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sense__block h4 {
  max-width: 250px;
  margin: 20px 0 5px;
}

.sense__block__lines {
  width: 100px;
  float: left;
  margin: 0 0 35px 25px;
}

.sense__block__img {
  height: 100px;
}

.sense__block p {
  max-width: 380px;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.5px;
}

.presentation {
  padding: 117px 0;
}

.presentation h2 {
  margin: 0 0 88px;
}

.presentation .tab-pane.fade img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
}

.presentation .tab-pane.fade.show img {
  -webkit-transform: translateY(2rem);
  transform: translateY(2rem);
}

.presentation a {
  height: 72px;
  color: #013183;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 4.7px;
  text-transform: uppercase;
  padding: 15px 40px;
  margin: 8px 0;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5.61017px 12.6229px rgba(1, 49, 131, 0.1);
  box-shadow: 0px 5.61017px 12.6229px rgba(1, 49, 131, 0.1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.presentation a img {
  margin-right: 28px;
  max-width: 44px;
  max-height: 44px;
}

.presentation .nav-link.active {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #013183;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FFFFFF;
  border-color: #013183;
}

.presentation .nav p {
  margin: 27px 0;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.presentation .rectangle {
  margin: 8px 0;
  height: 100%;
  max-height: 512px;
  padding-top: 42px;
  border: 1px solid #013183;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}

.presentation .rectangle .tab-pane {
  -webkit-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}

.presentation .rectangle p {
  margin: 0 10%;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: center;
}

.presentation .rectangle img {
  -webkit-box-shadow: 0px 22px 93px -45px rgba(1, 49, 131, 0.3);
  box-shadow: 0px 22px 93px -45px rgba(1, 49, 131, 0.3);
  margin: 0 7%;
  width: 86%;
}

.clients {
  background: url("../../img/data_bg5.jpg");
  background-size: cover;
  padding: 70px 0 95px;
}

.clients img {
  max-width: 100%;
  max-height: 100%;
}

.algorithm .rectangle {
  width: 300px;
  height: 315px;
  border: 1px solid #013183;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

.algorithm .line {
  width: 100%;
  height: 0;
  border-bottom: 2px solid #FF5734;
  margin: 50px 0;
}

.algorithm__row {
  margin: 90px 0;
}

.algorithm p {
  font-size: 0.9rem;
}

.algorithm img {
  margin: 45px;
  width: 357px;
  height: 276px;
}

@media (max-width: 768px) {
  .algorithm .rectangle {
    border: none;
    width: 100%;
  }

  .algorithm img {
    margin: 50px 0 0;
    width: 100%;
    height: auto;
  }
}

.targeting {
  padding: 90px 0;
  background: url("../../img/data_bg3.png");
  background-size: cover;
}

.targeting h2 {
  line-height: 2.25rem;
  letter-spacing: 0.1px;
}

.targeting > p {
  margin: 50px 0 70px;
  line-height: 1.6rem;
}

.targeting ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.targeting ul li {
  margin: 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1px;
}

.targeting ul li:before {
  content: "・";
}

.targeting ul p {
  margin: 5px 0;
  line-height: 1.6rem;
}

.pricing {
  padding: 58px 0 0;
}

.pricing__block {
  padding: 60px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 18px rgba(1, 49, 131, 0.1);
  box-shadow: 0px 8px 18px rgba(1, 49, 131, 0.1);
  border-radius: 12px;
}

.pricing h3 {
  text-align: center;
  color: #FF5734;
  letter-spacing: 4px;
  line-height: 2.4rem;
}

.pricing h2 {
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.pricing .line {
  width: 100%;
  height: 0;
  border-bottom: 2px solid #FF5734;
  margin: 25px 0;
}

.pricing p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.pricing .price {
  margin: 19px 0 9px;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3rem;
}

.pricing__try-now {
  padding: 120px 0 0;
}

.pricing__try-now h2 {
  line-height: 1rem;
}

.pricing__try-now .button {
  margin: 60px auto;
}

.faq {
  padding: 80px 0;
}

.faq .panel {
  border-bottom: 2px solid #FF5734;
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.faq .panel h4 {
  text-align: left;
}

.faq .panel p {
  margin-bottom: 45px;
  text-align: justify;
  font-weight: normal;
  max-width: 936px;
}

.faq .accordion {
  padding: 45px 0;
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.faq .angle {
  height: 12px;
  width: 12px;
  min-width: 12px;
  border-left: 3px solid #013183;
  border-bottom: 3px solid #013183;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.faq .active .angle {
  height: 12px;
  width: 12px;
  border-left: 3px solid #013183;
  border-bottom: 3px solid #013183;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.faq .button {
  margin: 60px auto;
  width: 234px;
  height: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 16px rgba(59, 120, 201, 0.3);
  box-shadow: 0px 4px 16px rgba(59, 120, 201, 0.3);
  color: #013183;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.faq .button:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
  box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
}

.quote {
  padding: 38px 0;
  background: url("../../img/data_bg4.png");
  background-size: cover;
}

.quote__img {
  width: 100%;
  max-width: 458px;
  border: 1px solid #013183;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 14px 30px 9px;
}

.quote__text {
  margin: 0;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.6rem;
  text-transform: uppercase;
}

.quote__author {
  margin: 35px 0 0;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.1px;
  color: #4D6FA8;
}

.try-now {
  padding: 150px 0 130px;
  background: url("../../img/data_bg6.png");
  background-size: cover;
}

.try-now h2 {
  margin: 0 auto;
  max-width: 828px;
  line-height: 3.25rem;
}

.try-now .text {
  margin: 75px auto;
  max-width: 877px;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.2px;
}

.try-now .button {
  margin: 0 auto 25px;
  width: 100%;
  max-width: 435px;
  height: 76px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 0.8rem;
}

.try-now__gift {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.try-now__gift p {
  margin: 0;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.try-now__gift img {
  height: 30px;
  width: 30px;
  margin: 0 20px 0 -62px;
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}