@font-face {
  font-family: 'Cera Pro';
  font-weight: 500;
  src: url('../../fonts/CeraProDEMO-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 700;
  src: url('../../fonts/CeraProDEMO-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 900;
  src: url('../../fonts/CeraProDEMO-Black.ttf') format("truetype");
}

@font-face {
  font-family: 'Cera Pro Round';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/CeraRoundProDEMO-Regular.ttf') format("truetype");
}

$blue: #013183;
$white: #FFFFFF;
$font: 'Cera Pro', sans-serif;
$font-round: 'Cera Pro Round', sans-serif;
$shadow: 0px 4px 16px rgba(59, 120, 201, 0.3);
$bluegrey: #829AC2;
$orange:#FF5734;

$root-font-size: 16px;
@function rem-calc($size) {
  @return $size / $root-font-size * 0.8rem;
}
html {
  font-size: ($root-font-size / 16px) * 100%;
}


body{
	font-family: $font;
	color: $blue
}

.header{
	//top: 0;
	width: 100%;
	background: $white;
	transition: 0.2s;
	padding: 50px 0;
	position: fixed;
	z-index: 10;
	transition: all 0.3s ease-out;

	.logo{
		width: 130px;
		margin-right: 135px;
	}

	.col-9{
		flex-direction: row;
	}
	
	&__links{
		width: 100%;
		//margin: 0 40px;
	
		&__link{
			color: $blue;
			font-style: normal;
			font-weight: 900;
			font-size: rem-calc(15px);
			line-height: rem-calc(24px);
			letter-spacing: 0.5px;

			transition: all 0.3s ease-out;

			&:hover{
				color: $blue;
				text-decoration: none;
				text-shadow: -2px 2px 0px rgba(2, 49, 130, 0.2);
				transform: translate(1px, -1px);
			}
			
		}

		.hidden{
			opacity:0;
		}

		&__button{
			height: 48px;
			box-shadow: 0px 4px 16px rgba(59, 120, 201, 0.3);
			border-radius: 12px;
			font-style: normal;
			font-weight: bold;
			font-size: rem-calc(18px);
			line-height: rem-calc(16px);
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.2s;
			
			&:hover{
				text-decoration: none;
				box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
			}
		}
	}

	.sign-in{
		width: 88px;
		color: $blue;
		background: $white;
		margin: 0 16px 0 0;		
	}
	.sign-up{
		width: 96px;
		color: $white;
		background: $blue;
		border: 1px solid $blue;
		box-sizing: border-box;
	}

	.navbar-collapse{
		transition: all 0.2s;
	}
	nav{
		padding: 0;
	}
	.navbar-toggler{
		border: none;
	}
	.navbar-toggler-icon {
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2, 49, 130, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}


@media (max-width: 600px){
	.header{
		top: 0;
	}	
}
@media (max-width: 768px){
	.header a{
		font-size: 1rem !important; 
    	line-height: 2rem !important;
	}	
}

main{
	padding-top: 130px;
}
@media (max-width: 600px){
	main{
		padding-top: 70px;
	}	
}
footer{
	background: $blue;
	padding: 25px 0;
	color:$white;
	p{
		margin: 0;
		font-size: rem-calc(15px);
		line-height: rem-calc(24px);
		letter-spacing: 0.5px;
	}
	.link{
		color:$white;
		font-weight: 900;
		font-size: rem-calc(15px);
		line-height: rem-calc(24px);
		letter-spacing: 0.5px;
		letter-spacing: 0.5px;
		transition: all 0.2s;

		&:hover{
			color: $white;
			text-decoration: none;
			text-shadow: -2px 2px 0px rgba(2, 49, 130, 0.2);
			transform: translate(1px, -1px);
		}
	}
	.union{
		height: 70%;
		margin-right: 10px;
	}

	.icon{
		display: block;
		
		img{
			width: 20px;
			height: 20px;
		}
	}

}

h1{
	font-style: normal;
	font-weight: 900;
	font-size: rem-calc(38px);
	line-height: rem-calc(24px);
	align-items: center;
	letter-spacing: 4px;
}

h2{
	margin: 40px 0;
	font-weight: 900;
	font-size: rem-calc(38px);
	line-height: rem-calc(38px);
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}
h3{
	font-weight: 900;
	font-size: rem-calc(24px);
	line-height: rem-calc(32px);
	align-items: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}
h4{
	font-style: normal;
	font-weight: 500;
	font-size: rem-calc(26px);
	line-height: rem-calc(40px);
	text-align: center;
	letter-spacing: 0.2px;
}
h6{
	margin: 35px auto;
	max-width: 818px;
	font-style: normal;
	font-weight: bold;
	font-size: rem-calc(18px);
	line-height: rem-calc(24px);
	text-align: center;
	letter-spacing: 0.1px;
	color: $bluegrey;
}

p{
	font-style: normal;
	font-weight: 500;
	font-size: rem-calc(20px);
	line-height: rem-calc(32px);
	letter-spacing: 0.1px;
}

.listdash{
	width: 44px;
	height: 0;
	border-bottom: 1px solid $orange;
	margin-right: 18px;
}

.button{
	width: 278px;
	height: 56px;
	margin: 25px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.3px;
	text-transform: capitalize;
	background: $orange;
	color:$white;
	box-shadow: 1px 4px 8px rgba(255, 87, 52, 0.35);
	border-radius: 12px;
	font-size: rem-calc(20px);
	line-height: rem-calc(18px);
	
	font-weight: bold;
	font-size: rem-calc(20px);
	line-height: rem-calc(18px);
	transition: all 0.3s ease-out;

	&:hover{
		color:$white;
		text-decoration: none;
		box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
	}
}

#wrapper{
	.cover{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: 20;
	}

	.__modal{
		top: 0;
		left: 0;
		display: none;
	 	position: fixed;
		z-index: 30;
		width: 100%;
		height: 100%;
		
		.window{
			height: 100%;
		}

		.content{
			display: none;
			width: 600px;
			height: 360px;
			max-width: 600px;
			max-height: 360px;
			background: url("../../img/modal.png");
			background-size: cover;
			background-blend-mode: overlay;
			box-shadow: 0px 5px 12px rgba(1, 49, 131, 0.1);
			border-radius: 8px;
			z-index: 40;
			
			.white-cover{
				height: 100%;
				background: rgba(255, 255, 255, 0.6);
				border-radius: 8px;
			}

			.title{
				font-weight: 900;
				font-size: rem-calc(28px);
				line-height: rem-calc(24px);
				text-align: center;
				letter-spacing: 9.5px;
				text-transform: uppercase;
				color:$blue;
			}
			.text{	
				padding: 2% 5% 5%;
				font-size: rem-calc(20px);
				line-height: rem-calc(32px);
				letter-spacing: 0.2px;
				color: #829AC2;
			}
			input[type="email"]{
				padding-left: 26px;
				padding-right: 80px;
				max-width: 500px;
				width: 500px;
				height: 50px;
				background: rgba(255, 255, 255, 0.6);
				border-radius: 26px;
				border: none;

				&::placeholder { 
				  color: $blue;
				  opacity: 1; 
				}
				
			}
			
			.input-button{
				width: 86px;
				height: 50px;
				margin-left: -80px;
				background: #FFFFFF;
				box-shadow: 1px 4px 8px rgba(255, 87, 52, 0.35);
				border-radius: 26px;
				
				input[type="submit"]{
					width: 100%;
					height: 100%;
					border: none;
					background: url("../../img/arrow.svg");
					background-size: 30px;
				    background-position: center;
				    background-repeat: no-repeat;
				}
			}


		}
	}
}

.welcome{
	padding: 50px 0;
	
	.title{
		font-size: rem-calc(54px);
		line-height: rem-calc(50px);
		letter-spacing: 0.8px;
		transition: all 0.3s ease-out;

		span{
			width: 100%;
			color:$orange;
		}
		&:hover{
			text-shadow: -3px 3px 0px rgba(2, 49, 130, 0.2);
			transform: translate(2px, -2px);
		}
	}

	&__entry{
		margin: 25px 0;
		font-style: normal;
		font-weight: 500;
		font-size: rem-calc(26px);
		line-height: rem-calc(40px);
		letter-spacing: 0.2px;
		color: #829AC2;
	}

	&__list{
		margin: 35px 0 35px -30px;
		display: flex;
		flex-direction: column;

		&__element{
			display: flex;
			align-items: center;

			p{
				font-weight: bold;
				margin:8px 0;
			}
		}
	}
	
	&__gift{
		margin-bottom: 10px; 
		// display: flex;
		/*align-items: center;*/

		p{
			margin:0;
			font-weight: bold;
			font-size: rem-calc(18px);
		}

		img{
			margin-right: 20px; 
			width: 26px;
			height: 26px;		
		}
		
	}

	&__image{
		box-shadow: 0px 22px 93px -45px rgba(1, 49, 131, 0.3);
		width: 100%
	}

	@media (min-width: 1200px){
		.welcome__image{
			transform: translateX(100px);
		}	
	}

}

@media (max-width: 600px){
	.listdash{
		width: 25px;
		margin-right: 4px ;
	}
	.welcome__list{
		margin: 35px 0;
	}	
}

.sense{
	
	background-image: url('../img/sense_bg.png');
	background-position: left;
	
	&__block{
		margin: 15px 0;
		max-width: 	100%;
		height: 480px;
		background: $white;
		box-shadow: 0px 5px 12px rgba(1, 49, 131, 0.1);
		border-radius: 8px;
		display: flex;
		flex-direction: column; 
		justify-content: center;
		align-items: center;
		
		h4{
			max-width: 250px;
			margin:20px 0 5px;
		}
		&__lines{
			width: 100px;
			float: left;
			margin:0 0 35px 25px;
		}
		&__img{
			height: 100px;
		}

		p{
			max-width: 380px;
			font-size: rem-calc(15px);
			text-align: center;
			letter-spacing: 0.5px;
		}

	}

}

.presentation{
	padding: 117px 0;	
	
	h2{
		margin: 0 0 88px;
	}

	.tab-pane.fade img{
	  transition: all 0.5s;
	  transform: translateY(0rem);
	}

	.tab-pane.fade.show img{
	  transform: translateY(2rem);
	}

	a{	
		height: 72px;
		color: $blue;
		font-weight: bold;
		font-size: rem-calc(18px);
		letter-spacing: 4.7px;
		text-transform:uppercase;
		padding: 15px 40px;
		margin: 8px 0;
		background: $white;
		border: 1px solid $white;
		border-radius: 10px;
		box-shadow: 0px 5.61017px 12.6229px rgba(1, 49, 131, 0.1);
		transition: all 0.2s ease-out;

		img{
			margin-right: 28px;
			max-width: 44px;
			max-height: 44px;
		}
	}
	.nav-link.active{
		box-sizing: border-box;
		color: $blue;
		box-shadow: none;
		background: $white;
		border-color: $blue;
		
	}
	.nav p{
		margin: 27px 0;
		font-weight: 900;
		font-size: 24px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.rectangle{
		margin: 8px 0;
		height: 100%;
		max-height: 512px;
		padding-top: 42px;
		border: 1px solid $blue;
		box-sizing: border-box;
		border-radius: 10px;
		
		
		.tab-pane{
			transition: all 0.1s ease-out 0.1s;
		}
		p{	
			margin: 0 10%;
			font-weight: bold;
			font-size: rem-calc(18px);
			line-height: rem-calc(24px);
			text-align: center;
		}
		img{
			box-shadow: 0px 22px 93px -45px rgba(1, 49, 131, 0.3);
			margin: 0 7%;
			width: 86%;
		}

	}
}


.clients{
	background: url("../../img/data_bg5.jpg");
	background-size: cover;
	padding: 70px 0 95px;

	img{
		max-width: 100%;
		max-height: 100%;
	}
}



.algorithm{
	
	.rectangle{
		width: 300px;
		height: 315px;
		border: 1px solid $blue;
		box-sizing: border-box;
		overflow:visible;
	}

	.line{
		width: 100%;
		height: 0;
		border-bottom: 2px solid $orange;
		margin: 50px 0;
	}
	
	&__row{
		margin: 90px 0;
	}

	p{
		font-size: rem-calc(18px);
	}

	img{
		//position: relative;
		margin:45px;
		width: 357px;
		height: 276px;
	}
}

@media (max-width: 768px){
	.algorithm .rectangle{
		border: none;
		width: 100%;
	}	
	.algorithm img{
		margin: 50px 0 0;
		width: 100%;
		height: auto;
	}	
}

.targeting{
	padding: 90px 0;
	background: url("../../img/data_bg3.png");
	background-size: cover;
	
	h2{
		line-height: rem-calc(45px);
		letter-spacing: 0.1px;
	}

	&>p{	
		margin: 50px 0 70px;
		line-height: rem-calc(32px);
	}

	ul{
		padding: 0;
		margin: 0;
		list-style: none;

		li{
			margin:5px 0;
			font-style: normal;
			font-weight: 500;
			font-size: rem-calc(20px);
			line-height: rem-calc(32px);
			letter-spacing: 0.1px;
		}
		li:before{ 
			content:"・";
		}

		p{	
			margin:5px 0;
			line-height: rem-calc(32px);
			//margin-left: -10px;
		}
	}
}


.pricing{
	padding: 58px 0 0;

	&__block{
		padding: 60px 0;
		background: #FFFFFF;
		box-shadow: 0px 8px 18px rgba(1, 49, 131, 0.1);
		border-radius: 12px;
	}
	
	h3{
		text-align: center;
		color: $orange;
		letter-spacing: 4px;
		line-height: rem-calc(48px);
	}

	h2{
		font-weight: bold;
		//font-size: rem-calc(44px);
		line-height: rem-calc(56px);
		letter-spacing: 0.2px;
		text-transform:capitalize;
	}
	.line{
		width: 100%;
		height: 0;
		border-bottom: 2px solid $orange;
		margin: 25px 0;
	}
	p{
		text-align: center;
		font-size: rem-calc(24px);
		line-height: rem-calc(24px);
	}
	.price{
		margin: 19px 0 9px;
		text-align: center;
		font-weight: bold;
		font-size: rem-calc(60px);
		line-height: rem-calc(60px);
	}

	&__try-now{
		padding: 120px 0 0;

		h2{
			line-height: rem-calc(20px);
		}
		.button{
			margin: 60px auto;

		}
	}
}

.faq{
	padding: 80px 0;

	.panel{
		border-bottom: 2px solid $orange; 
		padding: 0 5px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
				
		h4{
			text-align: left;
		}
		p{
			margin-bottom: 45px;
			text-align: justify;
			font-weight: normal;
			max-width: 936px;
		}
	}

	.accordion{		
		padding: 45px 0;
		display: block;
		font-size: rem-calc(26px);
		line-height: rem-calc(40px);
		letter-spacing: 0.2px;
		cursor: pointer;
	}
	.angle{
		height: 12px;
		width: 12px;
		min-width: 12px;
		border-left: 3px solid $blue;
		border-bottom: 3px solid $blue;
		box-sizing: border-box;
		transition: all 0.1s ease-out;
		transform: rotate(-45deg);

	}
	.active .angle{
		height: 12px;
		width: 12px;
		border-left: 3px solid $blue;
		border-bottom: 3px solid $blue;
		box-sizing: border-box;
		transform: rotate(135deg);	
	}

	.button{
		margin: 60px auto;
		width: 234px;
		height: 60px;
		background: $white;
		box-shadow: 0px 4px 16px rgba(59, 120, 201, 0.3);
		color: $blue;
		letter-spacing: 2px;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-transform: uppercase;
		transition: all 0.3s ease-out;
			
			&:hover{
				text-decoration: none;
				box-shadow: 0px 4px 16px rgba(2, 49, 130, 0.3), 0 0px 16px rgba(255, 87, 53, 0.3);
			}		
	}
}

.quote{
	padding: 38px 0;	
	background: url("../../img/data_bg4.png");
	background-size: cover;

	&__img{
		width: 100%;
		max-width: 458px;
		border: 1px solid $blue;
		box-sizing: border-box;
		padding: 9px 14px 30px 9px;
	}

	&__text{
		margin:0;
		font-weight: bold;
		font-size: rem-calc(34px);
		line-height: rem-calc(52px);
		text-transform: uppercase;
	}

	&__author{
		margin: 35px 0 0;	
		font-weight: bold;
		font-size: rem-calc(18px);
		line-height: rem-calc(24px);
		letter-spacing: 0.1px;
		color: #4D6FA8;
	}



}

.try-now{
	padding: 150px 0 130px;
	background: url("../../img/data_bg6.png");
	background-size: cover;

	h2{	
		margin: 0 auto;
		max-width: 828px;
		line-height: rem-calc(65px);
	}

	.text{	
		margin: 75px auto;
		max-width: 877px;
		font-size: rem-calc(26px);
		line-height: rem-calc(40px);
		text-align: center;
		letter-spacing: 0.2px;
	}

	.button{ 
		margin: 0 auto 25px;
		width: 100%;
		max-width: 435px;
		height: 76px;
		font-weight: bold;
		font-size: rem-calc(28px);
		line-height: rem-calc(16px);
	}

	&__gift{
		margin: 0;
		display: flex;
		align-items: center;

		p{
			margin: 0;
			font-weight: bold;
			font-size: rem-calc(18px);
			line-height: rem-calc(24px);
		}
		img{
			height: 30px;
			width: 30px;
			margin: 0 20px 0 -62px;
		}
	}
}

@media (max-width: 480px){
	html{
		font-size: 80%;
	}	
}



